<h1>{{photo.title}}</h1>
<p>{{photo.description}}</p>
<img src="/static/photos/{{photo.filename}}" alt="{{photo.title}}" style="max-width:300px">
<p><a href="/photos/{{photo.id}}/edit">Edit</a></p>
<p><a href="/">Back to albums</a></p>
